* {
  font-family: "Playfair Display", sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #80c0ff 0 10%, #fff 10% 100%);
}

p,
address,
a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

section.profile-photo-container {
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo-wrapper {
  position: relative;
}

.profile-photo-container .profile-photo-wrapper img {
  width: 85vw;
  height: auto;
  box-shadow: 0px 0px 8px 2px rgb(0, 0, 0, 0.3);
}

.profile-photo-container h1 {
  position: absolute;
  left: 1%;
  right: 5%;
  bottom: 2.5%;
  font-size: 3.1rem;
  margin: 0;
  padding: 16px;
  color: white;
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.6);
}

section.profile-photo-container h2 {
  margin: 4px 0;
  text-align: center;
  font-size: 2.3rem;
}

section.profile-photo-container p {
  margin: 6px 0;
  font-size: 24px;
  font-weight: 325;
  color: rgb(0, 0, 0, 1);
  line-height: 32px;
}

ul.icons-container {
  margin: 12px 0;
  padding: 0;
  font-size: 36px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 18px;
}

main section h1 {
  margin: 16px 0;
  text-align: center;
  font-size: 2.3rem;
}

.project-cards-container {
  margin: 16px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.project-card {
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px 4px rgb(0, 0, 0, 0.3);
}

.project-card img {
  width: clamp(250px, 100%, 600px);
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.project-card .project-details {
  height: 200px;
  margin: 6px;
  padding: 16px;
}

.project-card .project-details .project-name-links * {
  margin: 0;
}

.project-card .project-details .project-name-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.project-card .project-details .project-name-links h3 {
  font-size: 32px;
}

.project-card .project-details p {
  margin-top: 12px;
}

.project-card .project-details i,
.project-card .project-details img {
  height: 32px;
  width: 32px;
  font-size: 30px;
}

.project-card .project-details .project-name-links i {
  margin-left: auto;
}

footer {
  padding: 0;
  margin: 0;
}

section.contact-me {
  color: white;
  padding: 32px 16px;
  background-color: #0891b2;
}

section.contact-me * {
  margin: 16px 0;
}

section.contact-me h1 {
  text-align: center;
  font-size: 2.7rem;
}

section.contact-me p {
  font-weight: 400;
}

section.contact-me address a {
  color: white;
  font-size: clamp(12px, 90%, 36px);
}

section.contact-me ul {
  color: black;
}

/* removes 27 pixel height occupied by picture element at the end of footer*/
.author-image-footer picture {
  display: block;
  line-height: 0;
}

section.author-image-footer img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  body {
    padding: 0 45px;
  }

  section.profile-photo-container {
    margin-top: 128px;
    padding: 32px 16px;
    box-shadow: 0 0 8px 4px rgb(0, 0, 0, 0.3);
    display: block;
    position: relative;
    background-color: white;
  }

  .profile-photo-container .profile-photo-wrapper {
    float: left;
    position: relative;
    height: 190px;
  }

  .profile-photo-container .profile-photo-wrapper picture {
    display: contents;
  }

  .profile-photo-container .profile-photo-wrapper img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 75%;
    transform: translate(-10%, -40%);
  }
  .profile-photo-container .profile-photo-wrapper h1 {
    position: absolute;
    padding: 0;
    top: -128px;
    left: 20%;
    right: -75%;
    bottom: 128px;
  }
  .profile-photo-container ul {
    display: none;
  }
}
